In [1]:
import pandas as pd

In [17]:
mmsi_mid = pd.read_pickle('./mmsi_mid.pickle')
mmsi_mid  #.to_csv('mmsi_mid_whitelist.csv', index=False)

In [10]:
df = pd.read_csv('data/brest-dataset/nari_dynamic.csv')

,sourcemmsi,navigationalstatus,rateofturn,speedoverground,courseoverground,trueheading,lon,lat,t
0,245257000,0.0,0.0,0.1,13.1,36,-4.465718,48.382490,1443650402
1,227705102,15.0,-127.0,0.0,262.7,511,-4.496571,48.382420,1443650403
2,228131600,15.0,-127.0,8.5,263.7,511,-4.644325,48.092247,1443650404
3,228051000,0.0,-127.0,0.0,295.0,511,-4.485108,48.381320,1443650405
4,227574020,15.0,-127.0,0.1,248.6,511,-4.495441,48.383660,1443650406
...,...,...,...,...,...,...,...,...,...
19035625,227362110,NaN,NaN,0.0,199.9,511,-4.489970,48.379265,1459461496
19035626,227315190,NaN,NaN,9.1,137.0,511,-4.398467,48.197660,1459461498
19035627,228005700,NaN,NaN,0.1,13.3,511,-4.522517,48.365368,1459461523
19035628,227127750,NaN,NaN,0.0,0.0,511,-4.332997,48.090733,1459461531
19035629,211707600,NaN,NaN,0.0,0.8,511,-4.589588,48.279755,1459461567

In [6]:
VESSEL_ID_NAME, SPEED_NAME, COURSE_NAME, TIMESTAMP_NAME, TIMESTAMP_UNIT, COORDS_NAMES, COORDS_CRS = 'sourcemmsi', 'speedoverground', 'courseoverground', 't', 's', ['lon', 'lat'], 4326
df[VESSEL_ID_NAME].astype(str).str.zfill(9).str[:3]

0           245
1           227
2           228
3           228
4           227
           ...
19035625    227
19035626    227
19035627    228
19035628    227
19035629    211
Name: sourcemmsi, Length: 19035630, dtype: object

In [12]:
df = df.loc[
    df[VESSEL_ID_NAME].astype(str).str.zfill(9).str[:3].isin(
        mmsi_mid.MID.astype(str)
    )
]

In [14]:
df[VESSEL_ID_NAME].astype(str).str.zfill(9).str[:3].unique()

array(['245', '227', '228', '220', '355', '234', '249', '235', '226',
       '255', '357', '215', '209', '248', '305', '636', '273', '477',
       '356', '310', '244', '565', '205', '275', '276', '259', '261',
       '311', '236', '246', '314', '441', '271', '564', '371', '304',
       '354', '338', '257', '352', '538', '229', '351', '218', '566',
       '264', '224', '240', '211', '256', '219', '212', '373', '577',
       '563', '258', '247', '241', '419', '233', '319', '548', '207',
       '225', '250', '253', '664', '308', '375', '372', '210', '353',
       '239', '232', '447', '238', '230', '567', '306', '533', '370',
       '266', '367', '518', '622', '432', '403', '309', '701', '269',
       '377', '431', '470', '312', '237', '642', '416', '231', '414',
       '374', '265', '417', '413', '667', '341', '605', '376', '440',
       '378', '412', '369', '251', '576', '277', '263', '740', '303',
       '720', '368', '262', '511', '325', '428', '362', '671', '347',
       '503', '243', '619', '329', '270'], dtype=object)

In [15]:
mmsi_mid.MID.unique()

array([201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213,
       214, 215, 216, 218, 219, 220, 224, 225, 226, 227, 228, 229, 230,
       231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243,
       244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256,
       257, 258, 259, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270,
       271, 272, 273, 274, 275, 276, 277, 278, 279, 301, 303, 304, 305,
       306, 307, 308, 309, 310, 311, 312, 314, 316, 319, 321, 323, 325,
       327, 329, 330, 331, 332, 334, 336, 338, 339, 341, 343, 345, 347,
       348, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 361, 362,
       364, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377,
       378, 379, 401, 403, 405, 408, 410, 412, 413, 414, 416, 417, 419,
       422, 423, 425, 428, 431, 432, 434, 436, 437, 438, 440, 441, 443,
       445, 447, 450, 451, 453, 455, 457, 459, 461, 463, 466, 468, 470,
       471, 472, 473, 475, 477, 478, 501, 503, 506, 508, 510, 511, 512,
       514, 515, 516, 518, 520, 523, 525, 529, 531, 533, 536, 538, 540,
       542, 544, 546, 548, 553, 555, 557, 559, 561, 563, 564, 565, 566,
       567, 570, 572, 574, 576, 577, 578, 601, 603, 605, 607, 608, 609,
       610, 611, 612, 613, 615, 616, 617, 618, 619, 620, 621, 622, 624,
       625, 626, 627, 629, 630, 631, 632, 633, 634, 635, 636, 637, 642,
       644, 645, 647, 649, 650, 654, 655, 656, 657, 659, 660, 661, 662,
       663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 674, 675, 676,
       677, 678, 679, 701, 710, 720, 725, 730, 735, 740, 745, 750, 755,
       760, 765, 770, 775])